div {
  width: 200px;
  height: 200px;
  margin: 16px;
  background-color: blue;
}

aside {
  display: flex;
  position: fixed;
  right: 20px;
}

button {
  margin: 3px;
}

.box {
  background-color: red;
}